<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="Laravel Eloquent Extensions Test Suite">
            <directory suffix="Test.php">packages/*/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">packages/*/src</directory>
        </whitelist>
    </filter>
</phpunit>
